
<h3>New User Registration</h3>

<form action="/users" method="post">

<div id="new-user">



  <div class="form-group">

    <label for="name">Name :</label>
    <input id="name" type="text" name="user[name]" value="">

  </div>

  <div class="form-group">

    <label for="address">Address :</label>
    <input id="address" type="text" name="user[address]" value="">

  </div>

  <div class="form-group">

    <label for="email">Email :</label>
    <input id="email" type="text" name="user[email]" value="">

  </div>

  <div class="form-group">

    <label for="password">Password :</label>
    <input id="password" type="text" name="user[password]" value="">

  </div>

  <div class="form-group">

    <label for="cc_number">cc_number :</label>
    <input id="cc_number" type="text" name="user[cc_number]" value="">

  </div>

  <div class="form-group">

    <label for="datejoined">Date_Joined :</label>
    <input id="datejoined" type="text" name="user[date_joined]" value="">

  </div>

  <input id="submit-button" type="submit" name="name" value="Submit">

</div>

</form>
